# pyinstaller build files
build/
dist/
main.spec
LevelSync.spec
LevelSyncLoop1.spec

# Nuikta build files
main.build
main.onefile-build
main.dist

# Testing and such files
levels/
official/
personal/

# ide and other files
.idea/
.python-version
__pycache__/
.vscode/

# Logs
log.txt

# venv dir
env/
